
<div class="popupLane">
<!--    <div class="popup__container" style="bottom: 20px; right: 20px;">-->
<!--        <img class="popup__img" src="/productImages\1577092833137-5d0bd4b7e3ecba5d97628a02.jfif" alt="">-->
<!--        <p class="popup__message">Product Added!</p>-->
<!--        <p class="popup__close" onclick="deleteEl(this)"><img src="/images/cross.png" alt=""></p>-->
<!--    </div>-->
</div>

<!--<div class="loader-container">-->
<!--    <svg width="40" height="40">-->
<!--        <circle class="loader" cx="20" cy="20" r="17"></circle>-->
<!--    </svg>-->
<!--</div>-->
<script src="/js/moveIt.js"></script>
<script src="/js/admin.js"></script>
<script src="/js/app.js"></script>

</body>
</html>