*:focus {
    outline: none;
}

textarea:not([readonly]):focus {
    outline: 1px solid rgb(57, 167, 153);
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.user__img {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 1000px;
    border: 4px solid #fff;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
}

.user__img > .input__file {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    cursor: pointer;
    z-index: 11;
}

.user__img > .input__file + figure  > svg {
    fill: rgba(191, 48, 83, 0.04);
    transform: translateY(50px);
    transition: .3s ease-in-out;
}

.user__img > .input__file:hover + figure  > svg,
.user__img > .input__file.active + figure  > svg  {
    fill: rgba(191, 48, 83, 0.66);
    transform: translateY(0px);
}

.user__img > .input__file:hover + figure {
    background: rgba(117, 117, 117, 0.3);
}

.user__img > figure {
    width: 100%;
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: rgba(117, 117, 117, 0.1);
    transition: .3s;
}

.user__img > .dp__name {
    position: absolute;
    top: 80%;
    color: rgba(0, 0, 0, 0.66);
    font-weight: 700;
    max-width: 200px;
    white-space: pre-wrap;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}

.user__img > .input__file:hover ~ .dp__name {
    color: rgba(0, 0, 0, 0.9);
}

/*.user__img > figure:hover  > svg {*/
/*    fill: red;*/
/*}*/

.user__img-img {
    width: 100%;
}

.user__details {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user__details.user__bio {
    padding-top: 10px;
    align-items: flex-start;
}

.user__details.user__bio > textarea {
    margin-top: 5px;
    width: 300px;
    padding: 12px 10px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.user__details.user__bio > button {
    margin-top: 10px;
}

.user__details > p {
    width: 200px;
}

.user__details > h3 {
    width: 100px;
}

.user__details > input,
.user__details > .details,
.user__details > div > input {
    width: 300px;
    font-size: 18px;
    font-weight: 800;
    outline: none;
    border: none;
    background: none;
    padding: 3px 10px;
    font-family: 'Montserrat', sans-serif;
}

.user__details > input.focus {
    border: 1px solid lightgrey;
    box-shadow: 0 10px 20px rgba(0,0,0,0.8);
}

.editable {
    border: 1px solid lightgrey;
}

.not__provided,
.user__details.user__bio > textarea.not__provided {
    color: lightgrey;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}

.user__details > form {
    width: 160px;
    text-align: right;
}

.btn {
    border-radius: 4px;
    border: 1px solid #fff;
    min-width: 80px;
    padding: 7px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    text-shadow: 0 2px 3px rgba(0,0,0,0.5);
    background: rgb(9,101,90);
    /*background: linear-gradient(180deg, rgba(87,245,227,1) 0%, rgba(39,150,138,1) 100%);*/
    background: linear-gradient(180deg, rgba(9,101,90,1) 0%, rgba(3,50,54,1) 100%);
    transition: .1s;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0,0,0,0.7);
}

.btn:hover,
.btn.clicked {
    color: #ff4545;
    background: rgb(9,101,90);
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    /*background: linear-gradient(0deg, rgba(87,245,227,1) 0%, rgba(39,150,138,1) 100%);*/
    background: linear-gradient(0deg, rgba(9,101,90,1) 0%, rgba(3,50,54,1) 100%);
}

.submit__btn {
    background: linear-gradient(180deg, rgba(108,108,108,1) 0%, rgba(0,0,0,1) 100%);
    margin: 0 0 50px;
}

.submit__btn:hover {
    background: linear-gradient(0deg, rgba(108,108,108,1) 0%, rgba(0,0,0,1) 100%);
}
